body {
    background-color: black;

}

.logo {
    
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}


ul {
    display: flex;
    justify-content: space-around;
    width: 1000px;
    margin: auto;
}

.container {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.card {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: gray;
    list-style: none;
    width: 20%;
}

.card:hover {
    color: white;
}

img {
    border-radius: 10px;
    max-width: 170px;
    min-width: 20%;
}

img:hover {
    border-color: white;
    border-style: solid;
}

.Perfil {
    display: flex;
    justify-content: center;
}

button {
    background-color: black;
    border-color: gray;
    color: white;
    padding: 5px 18px 5px 18px;
    font-size: 15px;
}

button:hover {
    background-color: white;
    color: black;
}